body {
    background: #ddd;
    font-family: Verdana;
}

img {
    height: 100px;
    margin: 0;
}

.img1 {
    width: 100%;
}

p {
    margin: 0px;
}

a { 
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}

#title, .subtitle, .post-title {
    color: blue;
}

#title {
    text-transform: uppercase;
    font-size: 40px;
}

.post-title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #fff;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

ul {
    list-style-type: "\1F44D";
}